/* fira-sans-300 - latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/fira-sans-v10-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Fira Sans Light'), local('FiraSans-Light'),
       url('/fonts/fira-sans-v10-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/fira-sans-v10-latin-300.woff') format('woff'), /* Modern Browsers */
}

/* fira-sans-600 - latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/fira-sans-v10-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Fira Sans Black'), local('FiraSans-Black'),
       url('/fonts/fira-sans-v10-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/fira-sans-v10-latin-600.woff') format('woff'), /* Modern Browsers */
}

body {
  // Strip the unit off the size ratio to generate a line height
  $line-height: get-size(600);
  line-height: $line-height / ($line-height * 0 + 1);

  @include apply-utility('font', 'base');
}

h1,
h2,
h3 {
  @include apply-utility('font', 'serif');
}

h1 {
  font-size: get-size(700);
}

h2 {
  font-size: get-size(600);
}

h3 {
  font-size: get-size(500);
}

@include media-query('md') {
  h1 {
    font-size: get-size(900);
  }

  h2 {
    font-size: get-size(800);
  }

  h3 {
    font-size: get-size(700);
  }
}
